body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

#add-book-form {
    margin: 20px auto;
    text-align: center;
}

input {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

#book-list {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 150px;
    background: #fff;
    text-align: left;
}